﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width" name="viewport"/>
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
        <title>Robobar</title>
        <link href="/css/robobar.css" rel="stylesheet"/>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" 
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- темплейт для коктейлей -->
        <section id="cocktails-template" style="display:none">
            <div class="b-cocktails">
                {{#each cocktails }}
                <button class="b-cocktail" name="{{ @@key }}" style="background-image:url({{ icon_s }})">{{ name }}</button>
                {{/each }}
            </div>
        </section>
        <!--/ темплейт для коктейлей -->
        <!-- темплейт для ингредиентов -->
        <section id="ingredients-template" style="display:none">
            <div class="b-ingredients" style="background-image:url(../p/assets/glass.png)">
                <header class="b-ingredients__title">
                    {{ messageInProgress }}
                    <span id="b-ingredients__title"></span>
                    !
                </header>
                <div class="b-ingredients__container">
                    <ul class="b-ingredients__items b-ingredients__items--alco">
                        {{#each ingredients.alco }}
                        <li class="b-ingredients__item" id="item-{{ @@key }}">
                            {{ name }}
                            <div class="b-ingredient__line" id="line-{{ @@key }}"></div>
                            <div class="b-ingredient__volume" id="volume-{{ @@key }}" style="background-color:#{{ colorHex }}"></div>
                        </li>
                        {{/each }}
                    </ul>
                    <ul class="b-ingredients__items b-ingredients__items--nonalco">
                        {{#each ingredients.nonalco }}
                        <li class="b-ingredients__item" id="item-{{ @@key }}">
                            {{ name }}
                            <div class="b-ingredient__line" id="line-{{ @@key }}"></div>
                            <div class="b-ingredient__volume" id="volume-{{ @@key }}" style="background-color:#{{ colorHex }}"></div>
                        </li>
                        {{/each }}
                    </ul>
                </div>
            </div>
        </section>
        <!-- темплейт для сообщения об успешном завершении -->
        <section id="message-done" style="display:none">
            <div class="b-message" id="b-message--done">
                <h2 class="b-message__text">{{ messageDone }}</h2>
            </div>
        </section>
        <!--/ темплейт для сообщения об успешном завершении -->
        <!-- темплейт для сообщения об ошибке -->
        <section id="message-error" style="display:none">
            <div class="b-message" style="background-image:url({{ imgError }})">
                <h2 class="b-message__text">{{ messageError }}</h2>
            </div>
        </section>
        <!--/ темплейт для сообщения об ошибке -->
    <!-- сюда прописывается название коктейля который готовим в данный момент -->
        <script src="/js/handlebars.min.js"></script>
        <script src="/js/axios.min.js"></script>
        <script src="/js/robobar.js"></script>
    </body>
</html>
