@charset "UTF-8";
:root {
    /* общая максимальная ширина страницы*/
}
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 0.0625rem dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -0.125rem; /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
@font-face {
    font-family: 'CirceBold';
    src: url('fonts/Circe-Bold.eot');
    src: local('fonts/Circe Bold'), local('fonts/Circe-Bold'), url('fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Circe-Bold.woff') format('woff'), url('fonts/Circe-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
html {
    font-size: 1rem ;
    font-family: CirceBold, Arial, Verdana, Geneva, sans-serif;
    font-weight: bold;
}
body {
    font-size: 1em;
    /* все остальные размеры считаем из расчёта */
    line-height: 1.4;
    /*h5bp*/
    color: #000;
    overflow: hidden;
}
a:link, a:active, a:visited, a:hover, a:focus {
    text-decoration: none;
    color: #000;
}
.b-cocktails {
    width: 64rem;
    height: 48rem;
    padding: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
}
.b-cocktail {
    width: 20rem;
    height: 14rem;
    border: none;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: transparent;
    font-size: 1.875rem;
    padding-top: 4.75em;
    -webkit-transition: background 0.8s;
    transition: background 0.8s;
    opacity: 1;
    scale: 1;
}
.b-cocktail:focus, .b-cocktail:active {
    outline: none;
    -webkit-animation: ripple .5s;
            animation: ripple .5s;
}
.b-ingredients {
    width: 64rem;
    height: 48rem;
    padding: 1em;
    background-repeat: no-repeat;
    background-position: center 13.875rem;
}
.b-ingredients__title {
    font-size: 2.5rem;
    color: #1a3b6d;
    text-align: center;
    padding-top: 1em;
}
.b-ingredients__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.b-ingredients__items {
    margin: 0;
    padding: 0;
    width: 19rem;
    padding-top: 4.75em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.b-ingredients__items--alco {
    text-align: right;
}
.b-ingredients__item {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 2.25rem;
    color: #9fb2ce;
    padding-bottom: 1.125em;
    position: relative;
}
.b-ingredient__line {
    content: "";
    width: 8rem;
    height: 0.25rem;
    background-color: #1a3b6d;
    position: absolute;
    left: 20.5rem;
    right: 0;
    bottom: 62px;
    bottom: 3.875rem;
    overflow: hidden;
    opacity: 1;
    display: none;
}
.b-ingredient__volume {
    position: absolute;
    font-size: 2.25rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    line-height: 5rem;
    color: #000;
    top: -1rem;
    right: -15.25rem;
    display: none;
}
.b-ingredient__volume:after {
    content: "мл";
    font-size: 1.125rem;
    color: #000;
    position: absolute;
    left: 1.8125rem;
    bottom: -21.2px;
    bottom: -1.325rem;
}
@-webkit-keyframes growCircle {
    from {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@keyframes growCircle {
    from {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@-webkit-keyframes growLine {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 8rem;
        opacity: 1;
    }
}
@keyframes growLine {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 8rem;
        opacity: 1;
    }
}
@-webkit-keyframes ripple {
    10% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
    20% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        opacity: 0.9;
    }
    30% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
        opacity: 0.8;
    }
    40% {
        -webkit-transform: scale(1.3);
                transform: scale(1.3);
        opacity: 0.7;
    }
    50% {
        -webkit-transform: scale(1.4);
                transform: scale(1.4);
        opacity: 0.6;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(2);
                transform: scale(2);
    }
}
@keyframes ripple {
    10% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
    20% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        opacity: 0.9;
    }
    30% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
        opacity: 0.8;
    }
    40% {
        -webkit-transform: scale(1.3);
                transform: scale(1.3);
        opacity: 0.7;
    }
    50% {
        -webkit-transform: scale(1.4);
                transform: scale(1.4);
        opacity: 0.6;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(2);
                transform: scale(2);
    }
}
.b-ingredients__item--active {
    color: #1a3b6d;
}
.b-ingredients__item--active .b-ingredient__line {
    display: block;
    -webkit-animation: growLine .85s;
            animation: growLine .85s;
}
.b-ingredients__item--active .b-ingredient__volume {
    display: block;
    -webkit-animation: growCircle 1s;
            animation: growCircle 1s;
}
.b-ingredients__items--nonalco .b-ingredient__volume {
    left: -252px;
    left: -15.75rem;
}
.b-ingredients__items--nonalco .b-ingredient__line {
    left: -10rem;
}
.b-message {
    width: 64rem;
    height: 48rem;
    padding: 1em;
    background-repeat: no-repeat;
    background-position: bottom 21.25rem center;
}
.b-message__text {
    color: #1a3b6d;
    font-size: 3rem;
    text-align: center;
    padding: 10em 12rem 0 12rem;
    line-height: 3.25rem;
    white-space: pre;
}